<main>
  <div class="container">
    <div class="calculator">
      <div class="inputs">
        <input type="text" class="input-top" #value1 placeholder="Valor 1">
        <div class="operation">Operação</div>
        <input type="text" class="input-middle" #value2 placeholder="Valor 2">
        <div class="result">Resultado</div>
      </div>
      <div class="buttons">
        <button class="operator" (click)="performOperation('+')">+</button>
        <button class="operator" (click)="performOperation('-')">-</button>
        <button class="operator" (click)="performOperation('*')">*</button>
        <button class="operator" (click)="performOperation('/')">/</button>
      </div>
    </div>
  </div>
</main>